<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>
    <div class="navbar-text pull-right">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new" class="cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-plus">
          </span>
      </a>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets
    </a>
  </div>
</nav>

  <!--- <div class="container" *ngFor="let widget of widgets"> --->

<ul appWbdvSortable (newIndexes)="reorderItems($event)">
  <li *ngFor="let widget of widgets" [ngSwitch]="widget.widgetType">

    <!--<div [ngSwitch]="widget.widgetType">-->

      <div *ngSwitchCase="'HEADER'">
        <div class="pull-right">
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>

      <div class="pull-left">
          <h3>{{widget.widgetType}}</h3>
          <p>{{widget.text}}</p>

        </div>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <div class="pull-right">
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>

        <div>
          <div class="embed-responsive embed-responsive-16by9">
            <h3>{{widget.widgetType}}</h3>
          <iframe width="16" height="9" [src]=getUrl(widget.url)></iframe>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'IMAGE'">
        <div class="pull-right">
          <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>

        <div class="pull-left">
          <h3>{{widget.widgetType}}</h3>
          <img class="img-responsive img-rounded cl-widget-images" [src]=getUrl(widget.url)>

        </div>
      </div>

    <!--</div>-->
  </li>

 <!--- </div> --->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a routerLink="/user/{{userId}}" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>

    <div class="pull-left navbar-text">
      <a href="#" class="cl-icon-padding">
        <span class="glyphicon glyphicon-play"></span>
      </a>
      <a href="#" class="cl-icon-padding">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>

    </div>
  </div>
</nav>
