<h1> Register </h1>

{{f.valid}}

<div *ngIf="errorFlag"
     class="alert alert-danger">
  {{errorMsg}}

</div>

<form (ngSubmit) = "register()" #f="ngForm">
  <label>FirstName</label>
  <input   placeholder="firstname" [(ngModel)]="firstname" name="firstname" type="text"
           class="form-control" required/>

  <label>LastName</label>
  <input   placeholder="lastname" [(ngModel)]="lastname" name="lastname" type="text"
           class="form-control" required/>

  <label>Username</label>
  <input   placeholder="username" [(ngModel)]="username" name="username" type="text"
           class="form-control" required/>

  <label>Password</label>
  <input   placeholder="password" [(ngModel)]="password" name="password" type="password"
           class="form-control" required/>

  <label>Verify Password</label>
  <input   placeholder="password" [(ngModel)]="password2" name="password2" type="password"
           class="form-control" required/>

  <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid"
    routerLink="/user/{{user._id}}">Register</button>
  <button class="btn btn-danger btn-block" routerLink="/login">Cancel</button>

</form>

